input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f8f8f8;
}
input[type=submit] {
  /*width: 38%;*/
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 28px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

.error {color: #FF0000;}

body {
    background: rgba(0, 0, 0, 0) url("../imgs/fondo.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
#logo {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

#logo img {
    max-width: 300px;
    width: 100%;
}
/*.authenticated .footer {
    position: relative;
}*/
.w3-content {
    margin: auto;
    max-width: 100%;
}

.w3-main {
    margin-top: 60px;
}

#mySidebar {
    background: rgba(255,255,255, .9) repeat scroll 0 0;
}
#mySidebar .cabeza {
    background: rgba(28, 41, 3, .9) url("") repeat scroll 0 0;
    padding: 30px 0 0;
    text-align: center;
}

#mySidebar .cabeza img {
    width: 40%;
}
#mySidebar .cabeza h4 {
    color: #ccc;
    font-size: 16px;
    padding: 10px 0;
}

.tarjeta { display:none;}
.tarjeta > div {
    background: rgba(255, 255, 255, 0.95) none repeat scroll 0 0;
    border-radius: 15px;
    padding: 20px;
}

.tarjeta > div {
    background: rgba(36, 166, 154, 0.6) none repeat scroll 0 0;
    border-radius: 5px;
    padding: 20px 0 0;
}

.w3-sidebar {
    background-color: #fff;
    height: 100%;
    overflow: auto;
    position: fixed !important;
    width: 300px;
    z-index: 4;
}
.tarjeta > div {
    
}
.w3-whitegray {
    background: #e8eeee none repeat scroll 0 0;
    height: 60%;
    overflow-y: scroll;
}

.tab-content h5 {
    background: #e8eeee none repeat scroll 0 0;
    margin: 0;
    padding: 20px;
}

.tarjeta > div h4 {
    /*color: #aaa;*/
    padding: 14px 0 0 17px;
}
.tarjeta > div h4 {
    color: #fff;
    margin: 0;
    padding: 10px 20px 40px;
    font-size: 22px;
}
.top-buffer { margin-top:20px; }

.nav-tabs > li > a {
    background: rgba(255, 255, 255, 0.9) url("") repeat scroll 0 0;
}
.nav-tabs > li > a:focus, .nav-tabs > li > a:hover  {
    background: rgba(255, 255, 255, 0.7) url("") repeat scroll 0 0;
}
.nav-tabs .right {
    float: right;
}
.nav-tabs .right > a, .nav-tabs .right > a:hover, .nav-tabs .right > a:focus {
    color: #fff;
    background: none;
    border: none;
}

.lista {
    padding: 20px;
}
.tarjeta .lista h4 {
    padding: 14px 0;
}
header h1 {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    color: #fff;
    padding: 5px 23px;
}

.w3-main header .titulo {
    margin: 0;
    padding: 0;
}

.w3-main header .titulo {
    background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    color: #fff;
    margin: 0;
    padding: 5px 23px;
}
