html, body {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="date"],
select.form-control {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #f8f8f8;
    border: 3px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

input[type="file"] {
    height: 35px;
    margin: 0;
    padding: 0 20px;
    vertical-align: bottom;
    background: #f8f8f8;
    border: 3px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    color: #888;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

input[type=radio] {
    margin-top: 8px !important;
}

textarea,
textarea.form-control {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
textarea.form-control:focus {
    outline: 0;
    background: #fff;
    border: 3px solid #ccc;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder,
textarea.form-control:-moz-placeholder {
    color: #888;
}

input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder,
textarea.form-control:-ms-input-placeholder {
    color: #888;
}

input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
textarea.form-control::-webkit-input-placeholder {
    color: #888;
}

button.btn {
    height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #26A69A;
    ;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

button.btn:hover {
    opacity: 0.6;
    color: #fff;
}

button.btn:active {
    outline: 0;
    opacity: 0.6;
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button.btn:focus {
    outline: 0;
    opacity: 0.6;
    background: #26A69A;
    ;
    color: #fff;
}

button.btn:active:focus,
button.btn.active:focus {
    outline: 0;
    opacity: 0.6;
    background: #26A69A;
    ;
    color: #fff;
}


/*style.css**/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    /*text-align: center;*/
}
body {
    background: rgba(0, 0, 0, 0) url("../imgs/fondo.jpg") no-repeat fixed center center / cover ;
}


strong {
    font-weight: 500;
}

a,
a:hover,
a:focus {
    color: #26A69A;
    ;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

h1,
h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
    font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

::-moz-selection {
    background: #26A69A;
    ;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #26A69A;
    ;
    color: #fff;
    text-shadow: none;
}

.btn-link-1 {
    display: inline-block;
    height: 50px;
    margin: 0 5px;
    padding: 16px 20px 0 20px;
    background: #26A69A;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.btn-link-1:hover,
.btn-link-1:focus,
.btn-link-1:active {
    outline: 0;
    opacity: 0.6;
    color: #fff;
}

.btn-link-2 {
    display: inline-block;
    height: 50px;
    margin: 0 5px;
    padding: 15px 20px 0 20px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.btn-link-2:hover,
.btn-link-2:focus,
.btn-link-2:active,
.btn-link-2:active:focus {
    outline: 0;
    opacity: 0.6;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
}


/***** Top content *****/

form p {
    color: #26a69a;
}

.form-box {
    padding-top: 40px;
    font-family: 'Roboto', sans-serif !important;
}

.form-top {
    overflow: hidden;
    padding: 0 25px 15px 5px;
    background: #26A69A;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    text-align: left;
    color: #fff;
    transition: opacity .3s ease-in-out;
}

.form-top h3 {
    color: #fff;
}

.form-bottom {
    padding: 25px 25px 25px 25px;
    background: #eee;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: right;
    transition: all .4s ease-in-out;
}

.form-bottom:hover {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

form .form-bottom button.btn {
    min-width: 105px;
}

form .form-bottom .input-error {
    border-color: #d03e3e;
    color: #d03e3e;
}

form.registration-form fieldset {
    display: none;
}




/* Estilos de los menus principales del NAV BAR*/
.navbar {
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
    box-shadow: -2px 1px 3px 1px rgba(0, 0, 0, 0.333);
    margin-bottom: 0;
    z-index: 12;
}
.navbar-collapse {
    min-width: 820px;
}
.navbar-nav > li {
    /*padding-top: 20px;*/
}
.navbar-nav > li > a {
    padding-bottom: 10px;
    padding-top: 35px;
}
#myNavbar > ul > li > a {
    transition: background-color .5s;
}
#myNavbar > ul > li > a:focus, #myNavbar > ul > li > a:hover, #myNavbar > ul > li.active > a {
    color: #fff;
}
#myNavbar > ul > li > a:focus, #myNavbar > ul > li > a:hover {
    color: #0e7d73;
}
#ico-r {
    background: rgba(0, 0, 0, 0) url("../imgs/ico-ingreso.png") no-repeat scroll center 5px / 25% auto;
}
#ico-r a:focus, #ico-r a:hover {
    background: #e8eeee url("../imgs/ico-ingreso.png") no-repeat scroll center 5px / 25% auto;
}
#ico-r.active a:focus, #ico-r.active a:hover {
    background: #26a69a url("../imgs/ico-ingreso-b.png") no-repeat scroll center 5px / 25% auto;
    color: #fff;
}
#myNavbar > ul #ico-r.active {
    background: #26a69a url("../imgs/ico-ingreso-b.png") no-repeat scroll center 5px / 25% auto;
}

#ico-f {
    background: rgba(0, 0, 0, 0) url("../imgs/ico-actividad.png") no-repeat scroll center 5px / 17% auto;
}

#ico-f a:focus, #ico-f a:hover {
    background: #e8eeee url("../imgs/ico-actividad.png") no-repeat scroll center 5px / 17% auto;
}

#ico-a {
    background: rgba(0, 0, 0, 0) url("../imgs/ico-alimentacion.png") no-repeat scroll center 5px / 20% auto;
}
#ico-a a:focus, #ico-a a:hover {
    background: #e8eeee url("../imgs/ico-alimentacion.png") no-repeat scroll center 5px / 20% auto;
}

#ico-v {
    background: rgba(0, 0, 0, 0) url("../imgs/ico-vida.png") no-repeat scroll center 5px / 17% auto;
}
#ico-v a:focus, #ico-v a:hover {
    background: #e8eeee url("../imgs/ico-vida.png") no-repeat scroll center 5px / 17% auto;
}

#ico-d {
    background: rgba(0, 0, 0, 0) url("../imgs/ico-dt2.png") no-repeat scroll center 5px / 38% auto;
}
#ico-d a:focus, #ico-d a:hover {
    background: #e8eeee url("../imgs/ico-dt2.png") no-repeat scroll center 5px / 38% auto;
}

#ico-c {
    background: rgba(0, 0, 0, 0) url("../imgs/ico-conducta.png") no-repeat scroll center 5px / 22% auto;
}
#ico-c a:focus, #ico-c a:hover {
    background: #e8eeee url("../imgs/ico-conducta.png") no-repeat scroll center 5px / 22% auto;
}
.navbar-toggle {
    background-color: #26a69a;
}
.navbar-toggle .icon-bar {
    background: #fff none repeat scroll 0 0;
}


.menuDinamico {
    position: absolute;
    right: 0;
    top: 67px;
    z-index: 4;
}


#matutino .form-top {
    background: #26a69a url("../imgs/icon-matutino.png") no-repeat scroll right 42px /90px;
}
#mediodia .form-top {
    background-color: #26a69a;
    background-image: url("../imgs/icon-dia.png");
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: right 42px;

}
#nocturno .form-top {
    background: #26a69a url("../imgs/icon-noche.png") no-repeat scroll right 42px /90px;
}
.form-top-left span {
    margin-right: 10px;
}

.btn.btn-save {
    background: #e97fb0 none repeat scroll 0 0;
}


/* Form Progreso */
.progreso {
/*  width: 1000px;
  margin: 20px auto;
  text-align: center;*/
  display: inline-block;
}
.progreso .circle,
.progreso .bar {
  display: inline-block;
  background: #fff;
  width: 40px; height: 40px;
  border-radius: 40px;
  border: 1px solid #d5d5da;
}
.progreso .bar {
  position: relative;
  width: 80px;
  height: 6px;
  top: -33px;
  margin-left: -5px;
  margin-right: -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.progreso .circle .label {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  margin-top: 3px;
  color: #b5b5ba;
  font-size: 17px;
}
.progreso .circle .title {
  color: #b5b5ba;
  font-size: 13px;
  line-height: 30px;
  margin-left: -5px;
}

/* Done / Active */
.progreso .bar.done,
.progreso .circle.done {
  background: #eee;
}
.progreso .bar.active {
  background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}
.progreso .circle.done .label {
  color: #FFF;
  background: #8bc435;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progreso .circle.done .title {
  color: #444;
}
.progreso .circle.active .label {
  color: #FFF;
  background: #0c95be;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progreso .circle.active .title {
  color: #0c95be;
}

.tab-content input[type="submit"] {
    background-color: #4caf50;
    border: medium none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    float: right;
    margin: 0;
    padding: 5px 20px;
    text-align: center;
    
}